<nav class="blue darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Autodata</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Lists</a></li>
      <li><a href="/create">Create</a></li>
      <li><a href="/search">Search</a></li>
    </ul>
  </div>
</nav>