<form action="/create" method="POST">
    <h2>Create an embrace</h2>
    
    <div class="input-field">
        <input type="text" name="title">
        <label class="active">Embrace title</label>
    </div>

    <div class="input-field">
        <input type="text" name="description">
        <label class="active">Embrace description</label>
    </div>

    <div class="input-field">
        <input type="url" name="imageUrl">
        <label class="active">Embrace images</label>
    </div>

    <div class="input-field">
        <input type="number" name="price">
        <label class="active">Embrace price</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>
